@import '../libs/variables.scss';
@import '../libs/mixins.scss';

.header {
	position: absolute;
	width: 100%;
	padding: 20px;
	background-color: #fff;
	z-index: 2;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

	@media (max-width: 767px) {
		position: relative;
		padding: 15px;
	}
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	width: 80%;
}

.text {
	@include text-styles(20px, 500);
	color:rgba(0, 0, 0, 0.6);
}

.nav {
	display: flex;
}

