@import '../libs/variables.scss';
@import '../libs/mixins.scss';

.btn {
	background: transparent;
	font-size: 16px;
	padding: 10px;
	border-radius: 10px;
	transition: all 1s;
	color:rgba(0, 0, 0, 0.3);

	&:not(:first-child) {
		margin-left: 5px;
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.3);
		transition: all 0.5s;
		transform: scale(1.2);
	}

	&:active {
		background-color: rgba(255, 255, 255, 0.7);
		transition: all 0.3s;
	}
}

.tooltip {
	font-size: 16px !important;
	font-family: 'Lato', sans-serif !important;
	opacity: 1;

	@media (max-width: 992px) {
		font-size: 14px !important;
	}

	@media (max-width: 767px) {
		font-size: 12px !important;
	}

	@media (max-width: 480px) {
		font-size: 11px !important;
	}
}